<%- include("partials/header"); -%>
  <h2>Edit</h2>
  <form action="/posts/<%=postID%>?_method=PUT" method="post" class="validated-form" novalidate>
    <div class="form-group">
      <div>
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" value="<%=title%>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div>
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30" required><%=content%></textarea>

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="container-fluid"></div>
    <button class="btn btn-primary" type="submit" name="button">Update</button>
  </form>

  <%- include("partials/footer"); -%>