<%- include("partials/header"); -%>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          Update
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><form action="/posts/<%=id%>/edit" method="GET"><button class="dropdown-item" type="button submit">Edit</button></li>
          </form><li><form action="/posts/<%=id%>?_method=DELETE" method="POST"><button class="dropdown-item" type="button submit">Delete</button></li>
        </form></ul>
      </div>
  </div>
  <h2>
    <%=title%>
  </h2>
  <p>
    <%=content%>
  </p>



  <%- include("partials/footer"); -%>